/* custom fonts  */

@font-face {
  font-family: "Poppins";
  src: url("~/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("~/assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("~/assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("~/assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
}

body {
  @apply overflow-x-hidden font-poppins bg-white;
}

/* customizing existing classes  */

.container {
  @apply mx-auto px-5;
}

/* custom classes  */

.font-14 {
  @apply text-[13px] xl:text-[14px] leading-[16.8px];
}
.font-16 {
  @apply text-[16px] leading-[25.6px];
}

.font-20{
  @apply text-base sm:text-[18px] lg:text-[20px] leading-[28px] lg:leading-[32px]
}

.font-42 {
  @apply text-[22px] sm:text-[42px] leading-[35px] sm:leading-[55px];
}

.font-50 {
  @apply text-[27px] sm:text-[50px] leading-[40px] sm:leading-[60px];
}

.filter-image-white {
  filter: brightness(0) invert(1);
}
.filter-image-gray{
  filter: brightness(0) invert(0.5)
}